.btn {
    font-size: rem(19px);
    font-weight: bold;
    padding: rem(19px) rem(35px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;
    transition: .4s;
    cursor: pointer;
    
    &--white {
        background: $white;
        color: $green;

        &:hover {
            color: $white;
            background: $green;
        }
    }

    &--green {
        background: $green;
        color: $white;

        &:hover {
            color: $green;
            background: $white;
        }
    }

    &--transparent {
        background: transparent;
        color: #000;
        text-transform: none;

        &:hover {
            color: $green;
        }
    }
}




.btn-play {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-play--big {
    position: absolute;
    opacity: 0.9;
    top: 55%;
    left: 53%;
    transform: translate(-50%, -50%);
    max-width: rem(200px);
    max-height: rem(200px);
    height: 100%;
    width: 100%;

    @include phones {
        max-width: rem(140px);
        max-height: rem(140px);
        top: 55%;
     }

    .btn-play__icon {
        display: block;
        width: 100%;
        height: 100%;
        fill: white;
        
        &:hover {
            fill: white;
        }
    }
}


.btn-play__icon {
    display: block;
    height: rem(35px);
    width: rem(35px);
    fill: #626262;
    transition: fill .3s;

    &:hover {
    fill: #d7d7d7;
    }
}

.btn-pause__icon {
    display: none;
    height: rem(18px);
    width: rem(35px);
    fill: #626262;
    transition: fill .3s;
    margin-right: 2%;

    &:hover {
    fill: #d7d7d7;
    }
}



.btn-volume {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: rem(10px);
    position: relative;
}

.btn-volume__icon {
    height: rem(35px);
    width: rem(35px);
    fill: #626262;
    transition: fill .3s;

    &:hover {
        fill: #d7d7d7;
    }
}

.btn-volume__line {
    display: none;
    position: absolute;
    height: rem(2px);
    width: rem(30px);
    transform: rotate(-45deg);
    background-color: #d7d7d7;
}