.map-section {
    @include tablets {
        min-height: rem(638px);
    }

    @include phones {
        min-height: rem(694px);
    }
}

.map__content {
    width: 100%;
    height: 100%;
    max-width: 100%;
}