.reviews-section {
    position: relative;
    background: url("./img/bg/Berry.png") right top 8% no-repeat;

    @include tablets {
        background-position: right -5% top 2%;
    }

    &::before {
        content: url("./img/bg/Berries_and_leaf.png");
        position: absolute;
        bottom: rem(-172px);
        left: 0;
        z-index: 1;

        @include tablets {
            left: -5%;
        }
    }
}