.slider {
    .bx-wrapper {
        border: 0;
        background: transparent;
        box-shadow: none;
    }
}

.slider-section {
    background-color: #f8faf9;
    background-image: url('./img/bg/Background_pattern.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right 0 bottom -210px;
    position: relative;

    @include phones {
        background-size: 35%;
        background-position: right 0 bottom -180px;

     }
}

.slider__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    position: relative;

    @include tablets {
        max-width: 590px;
        position: static;
    }

    @include phones {
        max-width: 432px;
    }
}

.slider {
    display: flex;
    max-width: 940px;
    width: 100%;

    @include tablets {
        min-width: 100%;
        height: 100%;
    }
}

.slider__list {
    display: flex;
    width: 100%;
    height: 100%;
}

.slider__item {
    display: inline-flex;
    position: relative;
    height: 100%;
    width: 100%;
    outline: none;

    @include tablets {
        flex-direction: column;
        justify-content: center;
    }
}

.slider__col {
    display: flex;
    flex-direction: column; 

    &--desc {
        margin-top: rem(20px);

        @include tablets {
            margin-top: 0;
        }

        @include phones {
            margin-top: 0;
        }
    }

    @include tablets {
        align-items: center;
    }

    &:first-child {
        margin-right: rem(63px);

        @include tablets {
            margin-right: 0;
        }
    }

    &:last-child {
        flex: 1;

        @include tablets {
            flex: 0;
        }
    }
}


.slider__about {
    display: flex;
    position: relative;

    @include tablets {
        position: absolute;
        top: 2.9%;
        right: 1%;
    }

    @include phones {
        top: 1.2%;
        right: 1%;
    }
}

.slider__pic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets {
        max-width: 76%;
    }

    @include phones {
        max-width: 80%;
    }
}

.slider__img {
    max-width: 100%;
}

.slider__desc-text {
    color: $gray;
    font-size: 18px;
    max-width: 86%;
    line-height: 1.2;

    @include tablets {
        margin-top: rem(16px);
        text-align: center;
        max-width: 100%;
        line-height: 1.3;
    }

    @include phones {
        margin: 15px 9px;
    }
}

.slider__desc-extra {
    display: flex;
    margin-top: rem(36px);

    @include tablets {
        justify-content: center;
        margin-top: rem(16px);
    }
}

.slider__desc-extra-text {
    font-size: 18px;
    color: $gray;
    margin-right: rem(55px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: rem(80px);
    }
}

.slider__order {
    margin-top: rem(32px);
    display: flex;
    flex-wrap: wrap;

    @include tablets {
        justify-content: center;
        margin-top: rem(36px);
    }
}

.slider__price {
    font-size: rem(60px);
    line-height: 1;
    font-weight: 200;
    margin-right: rem(30px);
    flex-shrink: 0;
}

